apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
  namespace: mega-app
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: migration-db
        image: trainwithshubham/easyshop-migration:1
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: app-configmap

